<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IBossDao">
	<sql id="sintro">
		<choose>
			<when test="sintro !=null">
				#{sintro}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
		<sql id="sdetailaddr">
		<choose>
			<when test="sdetailaddr !=null">
				#{sdetailaddr}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
			<sql id="simage">
		<choose>
			<when test="simage !=null">
				#{simage}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
			<sql id="slimit">
		<choose>
			<when test="slimit !=null">
				#{slimit}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>
		<sql id="oimage">
		<choose>
			<when test="oimage !=null">
				#{oimage}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
	</sql>

<select id="loginBoss" parameterType="String" resultType="boss">
select * from boss where bid=#{id}
</select>

<select id="findId" parameterType="String" resultType="boss">
select * from boss where bphone=#{phone}
</select>
<select id="findPw" parameterType="java.util.HashMap" resultType="boss">
select * from boss where bid=#{id} and bphone=#{phone}
</select>
<insert id="insertBoss" parameterType="boss">
insert into boss values (#{bid}, #{bpw}, #{bphone})
</insert>
<insert id="insertStores" parameterType="store" keyProperty="snum" useGeneratedKeys="true">
<selectKey keyProperty="snum" order="BEFORE" resultType="int">select stores_seq.nextval from dual</selectKey>
insert into stores values(#{snum},#{bid},<include refid="sintro"/>,#{sname}, #{saddress}, <include refid="sdetailaddr"/>, #{sphone},#{stime}, #{sparking},
<include refid="simage"/>,#{stype},#{sholiday},sysdate,#{sratelv0}, #{sratelv1}, #{sratelv2}, #{sratelv3},<include refid="slimit"/>)
</insert>
<select id="selectAnumByStag" resultType="int" parameterType="String">
select anum from admins  where avalue=#{tag} and atype='theme'
</select>
<insert id="insertStag" parameterType="stag">
insert into stag values (stag_seq.nextval,#{snum},#{anum})
</insert>
<insert id="insertOrder" parameterType="order">
insert into orders values(orders_seq.nextval, #{snum},#{oname},#{oprice},<include refid="oimage"/>)
</insert>

</mapper>