/* div css */
div.main {margin : auto;margin-top: 50px;margin-bottom:100px;width: 100%;}
div.nav {
	margin-top: 50px;
	float: left;
	width: 10%;
	margin-left: 50px;
}
div.section{float : left;margin-left : 10%;margin-top : 50px;width : 60%;}
div.infoBox{margin : auto;
	float : left;
	width : 33%;
	height : 230px;
	font-size : 17px;
	padding-top : 30px;
	border : 1px solid #d9d9d9;
	border-bottom : 3px solid #d9d9d9;
	border-radius: 4px;}
	
.contentsTitGroup{padding-top: 2.0rem;text-align: center;display: block;}
.contents-wrap{width: 100%;height : 600px;}
.toggle-wrap {display: block;margin-bottom : 100px;margin-left :800px;width: 41.1rem;font-size: 1.6rem;}

.w50Form {display:block;width:50%;margin-top:50px;}
.w60Form {display:block;width:60%;margin-top:50px;}
.w80Form {display:block;width:80%;margin-top:50px;}
.listHeader{
	width : 100%;
	font-size : 18px; 
	padding-top : 7px;
	padding-left : 15px;
	border-radius : 4px;	
	background-color : #d9d9d9;
	height : 40px;
	margin-bottom : 0px;
	font-weight : bold;
}
.listBottom{
	width:100%;
	overflow: auto;
	border : 1px solid #d9d9d9;
}
.reserveList{
	margin-left : 20px;
	margin-bottom : 20px;
}
.bookmarkList{
	display:block;
	width:50%;
	margin:auto;
}
.historyList{
	display:block;
	width:80%;
	margin:auto;
}
.categorySort{display : inline-block;margin-top : 30px;}
.categoryList{display : inline-block;text-align: center;margin : auto;}
.storeOne{
	width : 300px;
	height : 400px;
	margin : auto;
	margin-left : 10px;
	margin-right : 10px;
	margin-bottom : 10px;
	display : block;
	float : left;
	border : 1px solid #d9d9d9;
	border-bottom : 2px solid #d9d9d9;
	text-align: center;
}
.storeOne:hover{
	border : 2px solid #66ccff;
	cursor: pointer;
}
.tab-content{padding:20px;}
.tab-pane a{
	margin-right: 20px;
	color: #000000;
}
.tab-pane a:hover{
	text-decoration: none;
	color: #66ccff;
	cursor: pointer;
}



/* btn css */
.btn-wrap {display: block;text-align: center;width: 100%;margin: 0 auto;margin-bottom : 30px;padding-top: 4.5rem;}

.btn-view {width: 200px;font-size: 1.4rem;background-color: #fff;color: #000000;height: 4rem;margin: 0 auto;line-height: 3.9rem;font-weight: 600;letter-spacing: 0.5px;transition-duration: .5s;border: 0.1rem solid #66ccff;}
.btn-view:hover{background-color:#66ccff;color: #fff;}

.btn-mint{background-color: #66ccff;color: #fff;}
.btn-mint:hover{background-color: #fff;color: #66ccff;}

.imgBtn{text-decoration: none;background-color: #ffffff;margin-left : 170px;color : #000000;border : 0px;}
.imgBtn:hover{color : #000000;text-decoration: none;text-decoration: none;cursor : pointer;color : gray;}
.imgBtn:visited{text-decoration: none;}

.delBtn {padding: 0px;width: 30px;height: 30px;border: 0px;background-color: white;outline: 0;}


/* img css */
.img17{width : 17px;height : 17px;}
.img20{width : 20px;height : 20px;}
.img30{width : 30px;height : 30px;}
.img20:hover{cursor: pointer;}
.img50 {width: 50px;height: 50px;}
.img100 {width: 100px;height: 100px;}
.img120 {width: 120px;height: 120px;}
.img140 {width: 140px;height: 140px;}
.img250 {width: 250px;height: 250px;}
.imgW300 {width: 300px;}
.imgInfo{width : 33%;height : 10%;}
.imgInfoBig{width : 80%;height : 30%}
.imgInfo60{width : 60%;height : 60%}

.foodImg{
	width : 99px;
	height : 99px;
	border-radius : 4px;
	padding-top : 75px;
	margin-right : 10px;
	margin-bottom : 10px;
	border : 1px solid #000000;
	background-size: 95px 100px;
	float : left;
	background-position : center;
}
.themeImg{
	width : 99.6px;
	height : 50px;
	border-radius : 4px;
	padding-top : 15px;
	margin-right : 10px;
	margin-bottom : 10px;
	border : 1px solid #000000;
	float : left;
}
.foodImg:hover, .themeImg:hover{border : 1px solid #66ccff;cursor : pointer;}
.imgCheck{border : 1px solid #66ccff;}

/* width css  */
.w50{width: 50px;}
.w100{width: 100px;}
.w200{width: 200px;}
.w300{width: 300px;}

/* height css  */
.h200{height : 200px;}
.h300{height : 300px;}
.h500{height : 500px;}
.h1000{height : 1000px;}

/* form css */
.formArea{vertical-align: middle;height: 40px;line-height: 40px;}
.formArea label{margin-left: 10px;vertical-align: middle;line-height: 40px;}
.formArea ul, .bookmarkList ul, .historyList ul{
    padding-inline-start: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom : 0px;
}
.bookmarkList ul, .historyList ul{
	margin-bottom:20px;
	border: 1px solid #000000;
	padding:30px;
}
.formArea li, .bookmarkList li, .historyList li{
    vertical-align: middle;
    float: left;
    overflow: hidden;
    margin-right: 25px;
    margin-bottom:20px;
}

/* inputRadio css */
.inputRadio{
    margin: 0;
    width: 15px;
    height: 15px;
    border: 0;
    margin-right: 20px;
}

/* inputText css */
.inputText {
	height: 40px;
    line-height: 40px;
    color: #7b6e66;
    padding: 0 7px;
    border: 1px solid #7b6e66;
    background-color: transparent;
    vertical-align: middle;
    float: left;
}

/* span css */
.selectSpan{
	float: left;
	font-size : 18px;
	font-weight : bold;
	color : #000000;
	margin-left : 20px;
	margin-right : 140px;
}
.storeSpan{
	font-size : 15px;
	font-weight : bold;
	margin-left : 20px;
}
.storeBoldSpan{
	font-size : 24px;
	font-weight : bold;
	margin-left : 20px;
}
.spanText{
	height: 40px;
    line-height: 40px;
    color: #7b6e66;
    padding: 0 7px;
    background-color: transparent;
    vertical-align: middle;
    float: left;
}
.themeTxt{
	width : 100%;
	text-align : center;
	font-size : 13px;
	font-family : '맑은 고딕';
}
.imgSpan{
	width : 100%;
	text-align : center;
	font-size : 13px;
	font-family : '맑은 고딕';
}

.span-red{color : #ff4d4d;}
.span-green{color : #00cc00;}
.span-red:hover{text-decoration : none;font-size : 20px;color : #ff4d4d;font-weight : bold;}
.span-green:hover{text-decoration : none;font-size : 20px;color : #00cc00;font-weight : bold;}


/* table css */
.signForm {margin : auto;font-size: 15px;}
.signForm td {padding : 10px;height: 30px;}

.td-gray{background-color:#e6e6e6;}
.alert table td {padding-left : 20px;padding-right : 19px;}


/* ul,li css */
li.navTitle {background-color: #d9d9d9;}
li.active {background-color: #66ccff;}

/* a css */
a.navTitle {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
a.nav {
	text-align: center;
	font-size: 14px;
	color: #000000;
}
.storeA{
	margin-left : 15px;
	margin-top : 10px;
	font-size : 15px;
}

/* margin css */
.m0{margin : 0px;}
.mt20{margin-top:20px;}